.front-side {
  width: 100%;
  height: 236px;
  background-image: url("src/assets/images/main-bg.png");
  position: relative;
  padding: 40px 50px 21px;

  .card-type {
    position: absolute;
    top: 21px;
    right: 21px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    .chip {
      margin-bottom: 18px;
    }

    .card-fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      width: 100%;

      .card-number {
        margin-bottom: 20px;

        .number-row {
          display: flex;
          justify-content: space-between;
        }

        .validation {
          //height: 20px;
        }
      }

      .valid-thru {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
