<div class="front-side">
  <img src="assets/images/visa.png" alt="" class="card-type">

  <div class="main">
    <img src="assets/images/chip.png" alt="" class="chip">

    <div class="card-fields">
      <div class="card-number">
        <div class="number-row">
          <div class="control-item">
            <input type="number" placeholder="0000" class="form-control">
          </div>
          <div class="control-item">
            <input type="number" placeholder="0000" class="form-control">
          </div>
          <div class="control-item">
            <input type="number" placeholder="0000" class="form-control">
          </div>
          <div class="control-item">
            <input type="number" placeholder="0000" class="form-control">
          </div>
        </div>

        <div class="validation">
          Validation block
        </div>
      </div>

      <div class="valid-thru">
        <div class="control-item">
          <input type="number" placeholder="0000" class="form-control">
        </div>
        <span>valid-thru</span>
      </div>
    </div>
  </div>
</div>
