/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.control-item {
  display: inline-block;

  &:after {
    content: '';
    width: 100%;
    display: block;
    height: 2px;
    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.19;
    border-radius: 8px;
  }

  .form-control {
    width: 60px;
    border: none;
    background: none;
    outline: none;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: "Courier", sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.323851);

    &::placeholder {
      opacity: .4;
      color: #ffffff;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
